@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Bank App</h1>
    <header>
        <style>
            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }

            td, th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }

            tr:nth-child(even) {
                background-color: #dddddd;
            }
        </style>
        <p>The following table represents user stories of what will happen if a users name and account number comes together</p>

    </header>
    <br />
    <br />
    <table>
        <tr>
            <th>Account Number </th>
            <th>Prize Won</th>

        </tr>
        <tr>
            <td>Account number starting with 1</td>
            <td>You won £50</td>

        </tr>
        <tr>
            <td>Account number starting with 2</td>
            <td>You won a silver account in the bank</td>

        </tr>
        <tr>
            <td>Account number starting with 3</td>
            <td>You won £200</td>

        </tr>
        <tr>
            <td>Account number starting with 4</td>
            <td>You won a gold account in the bank</td>

        </tr>
        <tr>
            <td>Account number starting with 5</td>
            <td>You won £500</td>

        </tr>

    </table>

    <br />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <div class="w3-panel w3-topbar w3-bottombar w3-border-green w3-pale-green">
        <table style="width:100%">
            <tr>
                <th><img src="https://th.bing.com/th/id/R624d63b0d34bf8045b0d26f48425bdce?rik=oNWzMhizp%2fuobw&pid=ImgRaw" Width="200" Height="200" /></th>

                <th><strong>@ViewBag.responseCall</strong></th>


            </tr>

        </table>
    </div>
    <br />
    <br />
    <br />



</div>
