@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Bank App</h1>
    <br />
    <br />
    <br />

    <table style="width:100%">
        <tr>
            <th> <img src="https://th.bing.com/th/id/Rc47cb13707383f4033207f110c5c80a2?rik=BSMKm3VhfdSEDQ&pid=ImgRaw" Width="200" Height="200" /></th>
            <th><img src="https://th.bing.com/th/id/R624d63b0d34bf8045b0d26f48425bdce?rik=oNWzMhizp%2fuobw&pid=ImgRaw" Width="200" Height="200" /></th>
            <th><img src="https://th.bing.com/th/id/OIP.9oi3ar3qsXq1ajx_IRKFWQHaE9?pid=ImgDet&rs=1" Width="200" Height="200" /></th>
        </tr>

    </table>
    <br />
    <br />
    <br />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <div class="w3-panel w3-topbar w3-bottombar w3-border-green w3-pale-green">
        <p><strong>@ViewBag.responseCall</strong></p>

        </div>


    </div>
